textarea{
    width: 100%;
    min-height: 2lh;
    max-height: 5lh;
}


.horizontal {
    height: 30vh;
    object-fit: cover;
}

.vertical{
    height: 30vh;
    object-fit: contain;
}

.small-icon{
    fill: red;
    width: 50px;
    height: clamp(10px, 30px, 50px);
    margin: 10px 0;
}
